@import "tailwindcss/theme" layer(theme);
@import "tailwindcss/utilities" layer(utilities);


@layer theme {
  :root {
    --color-black: #000000;
    --color-white: #ffffff;
    --color-gray-50: #f9fafb;
    --color-gray-100: #f3f4f6;
    --color-gray-900: #111827;
    --color-green: #000;
  }
}


body{
  font-family: 'Zen Kaku Gothic New', sans-serif !important;
}

.container-responsive{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}